/* General styles */
* {
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling for background and centering */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #00c851, #007e33);
}

/* Game container */
#gameContainer {
    height: 450px;
    width: 500px:
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Space between the board and info */
}

/* Game board */
#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Ensure a 10x10 grid */
    gap: 5px; /* Space between squares */
    max-width: 600px; /* Increased size for larger screens */
    max-height: 600px;
    width: 100%; /* Ensure responsiveness */
    height: auto;
}

/* Buttons and scoreboard */
.boardInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
}

#start {
    background-color: #f35a69;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#scoreBoard {
    display: inline-flex;
    font-size: 20px;
}

/* Square styles */
.square {
    aspect-ratio: 1; /* Maintain square ratio */
    width: 100%; /* Fill available grid space */
}

.emptySquare {
    background-color: #6d71b5;
}

.snakeSquare {
    background-color: #e3e773;
    border: 1px solid #000;
}

.foodSquare {
    backgr
