/* General styles */
* {
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling for background and centering */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #00c851, #007e33);
}

/* Game container */
#board, .boardInfo {
    max-width: 800px; /* Increase the width of the game board */
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Adjust for larger cells */
    gap: 5px; /* Add spacing between cells for better visibility */
}

#start, .boardInfo {
    font-size: 30px; /* Increase font size for better readability */
}

#gameOver {
    display: none;
}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Add more space between elements */
}

#start {
    background-color: #f35a69;
    border: none;
    color: white;
    padding: 10px 20px; /* Make the button larger */
    border-radius: 
